.navbar,.table,.tfoot p,.jumbotron, #thumbnail_box .container .row
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.global_wrapper
{
    float: right;
    height: 130px;
}
.logo .img-responsive
{
    max-width: 100px;
}
.logo li
{
    width: 110px;
}
.global_wrapper li a
{
    line-height: 7;
}
.home_footer .img-responsive
{
    max-width: 80px;
}
.home_footer li a
{
    width: 120px;
    line-height: 5;
}
.table  >tbody >tr >td{
    vertical-align: middle;
    width: 28%;
}
.tool_group button
{
    position: relative;
    margin: 5px;
    top: -320px;
    height: 150px;
    width: 50px;
    color: white;
    padding: 10px;
    background:rgba(0,40,60,0.7);
}
.tool_group .prev
{
    float: left;
    margin-left: 50px;
}
.tool_group .next,.tfoot
{
    float: right;
    margin-right: 50px;
}
.slide_nav
{
    position: relative;
    top: -30px;
    text-align: center;
}
.slide_nav i
{
    display: inline-block;
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}
.slide_nav i.active
{
    background-color: white;
}
.table .users >tr >td
{
    width: 30%;
}
.tfoot button
{
    height: 40px;
}
.thumbnail
{
    /*width:285px;*/
    float: left;
}
.thumbnail button
{
    position: relative;
}
.thumbnail_tool_group
{
    height: 0px;
}
.thumbnail_tool_group #quikeview
{
    top: -185px;
}
.thumbnail_tool_group #bigger
{
    top: -40px;
    left: 93px;
}
.thumbnail_tool_group #heart
{
    top: -40px;
    left: 93px;
}
.thumbnail_tool_group #add
{
    top: -185px;
    left: 50px;
}