$deeperBlueBG:#399494;
$deeperBlueW:#C3D6DC #ffffff!default;
$lightBlueBG:#49A7A7 #399494!default;
$lightBlueW:#E6F0F3 #ffffff!default;
/*.navbar,.table,.tfoot p,.jumbotron, #thumbnail_box .container .row*/
/*全局样式*/
.tfoot
{
  float: right;
  margin-right: 9px;
}
.cleanfix,.navbar
{
  border: 0px;
  margin: 0px;
  padding: 0px;
}
button,.input-group-btn button
{
  outline: none;
  border: 0px;
  border-radius: 4px;
  padding: 7px 13px;
}
strong
{
  font-size: 20px;
}
.back_blue
{
  background-color: $deeperBlueBG;
  color: nth($lightBlueW,1);
}
/*导航栏*/
/*用户导航栏*/
header
{
  @extend.cleanfix;
}
.userNav
{
  height: 35px;
  background-color: $deeperBlueBG;
  ul
  {
    list-style: none;
    float: right;
    padding: 5px 0px;
  }
  a
  {
    color: nth($deeperBlueW,1);
    text-align: center;
    text-decoration: none;
    &:hover,&:active{
      color: nth($deeperBlueW, 2);
    }
  }
  li
  {
    display: inline;
    margin: 0px 10px;
  }
  .badge
  {
    color: $deeperBlueBG;
    background-color: nth($deeperBlueW,1);
  }
  .dropdown-menu
  {
    min-width: 10px;
    width: 73px;
    background-color: $deeperBlueBG;
    @extend .cleanfix;
    a
    {
      @extend.cleanfix;
      background-color: $deeperBlueBG;
      color: nth($deeperBlueW,1);
      &:hover
      {
        background-color: $deeperBlueBG;
        color: nth($deeperBlueW,2);
      }
    }
  }
}
/*商城首页导航栏*/
.shopNav
{
  border-bottom: 1px solid $deeperBlueBG;
  .global_wrapper
  {
    height: 95px;
    padding:  22.5px 0px;
    left: 1px;
    font-weight: bold;
    .input-group
    {
      top: -7px;
    }
  }
  .upLine
  {
    &:hover,&:active
    {
      border-top: 3px solid $deeperBlueBG;
    }
  }
  .logo>li>a
  {
    border-right: 1px solid #E6E6E6;
    padding: 0px 10px;
    margin: 30px 0px;
    text-shadow: 4px 4px 4px #333;
  }
}
/*巨幕*/
.jumbotron
{
  background-color: #ffffff;
}
.tool_group
{
  span,span:visited
  {
    position: relative;
    top: -475px;
    height: 475px;
    width: 90px;
    text-align: center;
    padding: 220px 0px;
    font-size: 35px;
    opacity: 0;
    cursor: pointer;
    &:hover,&:active
    {
      color: nth($lightBlueBG,1);
      background:rgba(0,40,60,0);
      opacity: 1;
    }
  }
  .prev
  {
    float: left;
    margin-left: 10px;
  }
  .next
  {
   @extend .tfoot;
  }
}
.slide_nav
{
  position: relative;
  top: -30px;
  text-align: center;
  i
  {
    display: inline-block;
    background-color: #777;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
    &:hover,&:active
    {
      background-color: $deeperBlueBG;
    }
  }
}
/*按钮*/
.btn-lightBlu,.btn-lightBlu:visited
{
  background-color: nth($lightBlueBG,1);
  color:nth($lightBlueW,1);
  &:hover,&:active
  {
    background-color: $deeperBlueBG;
    color: nth($lightBlueW,2);
  }
}
/*btn-black:visited---尚未解决，去掉btn，按钮组的样式出问题，保存btn,无法设定自定义的visited样式*/
.btn-black,.btn-black:visited
{
  background-color: #333;
  color: nth($lightBlueW,2);
  &:hover,&:active
  {
    background-color: $deeperBlueBG;
    color: nth($lightBlueW,1);
  }
}
.searchBoth
{
  width: 330px;
}
.searchSingle
{
  width:235px;
}
.num-set
{
  width: 70px;
}
/*表格*/
.panel,.panel-heading,.thumbnail
{
  border-color: $deeperBlueBG;
  border-width: 1px;
}
.panel-heading
{
  font-size: 20px;
  background-color: $deeperBlueBG;
  color: nth($lightBlueW,1);
}
.table  >tbody >tr >td{
  vertical-align: middle;
  width: 28%;
}
.table .users >tr >td
{
  width: 30%;
}
.tfoot button
{
  height: 40px;
}

/*缩略图*/
.thumbnail
{
  width:262px;
  float: left;
  margin: 11px;
  button
  {
    position: relative;
  }
}
.thumbnail_tool_group
{
  &:hover
  {
    animation: anim 1s;
    -webkit-animation: anim 1s;
  }
  #quikeview
  {
    top: -170px;
  }
  #bigger
  {
    top: -30px;
    left: 70px;
  }
  #heart
  {
    top: -30px;
    left: 70px;
  }
  #add
  {
    top: -170px;
    left: 25px;
  }
}
@keyframes anim {
  0%{opacity: 0}
  25%{opacity: 0.35}
  50%{opacity: 0.65 }
  75%{opacity: 0.85}
  100%{opacity: 1}
}
@-webkit-keyframes anim {

}
.brand
{
  text-align: center;
  width:120px;
  float: left;
  margin: 10px;
  /*background: url("../pic/djisale.jpg");*/
  /*background: url("pic/djisale.jpg");用不了，不造为啥---已经解决，注意css文件所在位置*/
}
/*页脚*/
footer
{
  background-color: #333333;
  color: #B8B8B8;
  border-top:2px solid $deeperBlueBG;
  font-size: 10px;
  padding:30px 0px;
}
footer span
{
  margin:0px 5px;
}
footer a:hover,footer a:active
{
  /*background-color: rgba(0, 0, 0, 0);*/
}
footer a,footer a:visited
{
  color: #B8B8B8;
  text-decoration:none;
}
.home_footer,.brand_footer
{
  width: 100%;
}
.home_footer li
{
  width: 33.333%;
}
.brand_footer
{
  padding: 10px 0px;
  border-top:1px dotted #676666;
}
.brand_footer .info
{
  width: 85%;
}